@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,900&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    line-height:1.4;
    font-weight:400;
    @apply font-body;
}
h1,h2,h3{
    @apply font-headers font-bold text-main-white;
}

/*NAV SECTION*/
.nav a{
    @apply text-nav-link font-body p-8 block hover:bg-main-blue;
}
/*HERO SECTION*/
.welcome-section{
    background-color: #000;
    background-image: linear-gradient(
        62deg, #3a3d40 0%, #181719 100%);
}

/*PROJECT SECTION*/
.project{
    @apply bg-main-gray;
}
.project img{
    @apply w-full object-cover h-96;
}
.project h3{
    @apply text-center py-4 px-2 text-xl;
}
.code{
    @apply text-main-gray;
    transition: color 0.3s ease-out;
}
.project:hover .code{
    color:#ff7f50;
}

.btn svg{
    font-weight: 900;
    position: relative;
    transition: transform 0.3s ease-out;
}
.btn:hover svg{
    transform: translateX(2px);
}
svg path{
    width:2rem;
    height:2rem;
}

/*Contact-Section*/
.contact-links a{
    @apply  relative flex py-4 px-8 text-4xl text-main-white hover:transform hover:translate-y-2 transition-transform;
}
.contact-links a svg{
    width:3.5rem;
    height:2.5rem;
}
.contact-links a svg path{
    @apply shadow-md;
}

/*FOOTER*/
 footer p{
     @apply m-8;
 }